<% if line_item.discounts_are_available && line_item.discounts_are_applied %>
  <div class="micro">
    <% if line_item.discounts_are_available && !(line_item.max_discount_reached) %>
    <span class="tip" data-tippy="<%= Spree.t(:avalable_for) %> <%= Spree::Money.new(line_item.lowest_volume_price, currency: current_currency).to_s %> <%= Spree.t(:each_continued) %>">
    From <%= Spree::Money.new(line_item.lowest_volume_price, currency: current_currency).to_s %> <i class="fal fa-tags"></i></span>
    <% end %>

    <% if (line_item.max_discount_reached) && (line_item.discounts_are_applied) %>
    <span class="tip" data-tippy="<%= Spree.t(:you_have_reached_maximum) %> <%= Spree::Money.new(((line_item.pre_discount_price * line_item.quantity) - (line_item.lowest_volume_price  * line_item.quantity)), currency: current_currency).to_s %>">
    Maximum Discount</span> <i style="color:green;" class="fal fa-check-circle"></i>
    <% end %>
  </div>
<% end %>
